.contacts {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 131px 100px 25px 111px;

    @media (max-width: 1440px) {
        padding: 100px;
    }

    @media (max-width: 1200px) {
        padding: 100px 50px;
    }

    @media (max-width: 1024px) {
        padding: 50px 15px;
    }

    // .contacts__block

    &__block {
        padding: 71px 84px 60px 67px;
        max-width: 832px;
        width: 100%;

        background-color: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(50.5px);

        @media (max-width: 1200px) {
            margin-inline: auto;
            padding: 50px;
        }

        @media (max-width: 1024px) {
            padding: 50px 20px;
        }
    }

    h1 {
        display: flex;
        align-items: center;
        margin: 0;

        img,
        svg {
            margin-left: 13px;
            width: 36px;
            height: 36px;
        }
    }

    // .contacts__descriptoin

    &__descriptoin {
        margin-top: 54px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.2;
        color: #949494;

        @media (max-width: 1024px) {
            margin-top: 40px;
        }

        @media (max-width: 768px) {
            margin-top: 25px;
            font-size: 16px;
        }

        @media (max-width: 600px) {
            font-size: 14px;
        }

        a {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(81.52deg, #f5c047 0%, #df4b41 100%);
            }
        }
    }

    form {
        margin-top: 58px;

        @media (max-width: 600px) {
            margin-top: 40px;
        }

        input:not([type="submit"]) {
            margin-bottom: 40px;
            border-bottom: 1px solid #21170a;
            padding-bottom: 8px;
            width: 100%;

            font-weight: 400;
            font-size: 16px;
            line-height: 1.15;
            color: #949494;

            @media (max-width: 600px) {
                font-size: 14px;
            }
        }

        textarea {
            resize: none;

            margin-top: 36px;
            margin-bottom: 40px;

            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.15;
            color: #949494;
            padding: 16px;
            min-height: 116px;
            width: 100%;
            background-color: #e4e4e4;

            @media (max-width: 1024px) {
                margin-top: 0;
            }

            @media (max-width: 600px) {
                font-size: 14px;
                padding: 10px;
            }
        }

        .submit {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 320px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                text-align: center;
                color: #fff;
                font-style: normal;
                font-weight: 500;
                font-size: 23px;
                line-height: 1.2;

                @media (max-width:768px){
                    font-size: 16px;
                }
            }

            p {
                margin-left: 41px;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.1;
                color: #949494;

                @media (max-width: 768px) {
                    margin-left: 15px;
                }
            }
        }
    }
}
