.wrapper {
    padding-left: 184px;

    @media (max-width: 1200px) {
        padding-left: 0;
    }
}

.page {
    // .page__top

    &__top {
        display: flex;
        justify-content: space-between;
        @include adaptive-value-laptop("height", 384, 310);

        @media (max-width: 992px) {
            flex-direction: column;
            height: auto;
        }

        // .page__top-left

        &-left {
            overflow: hidden;
            flex: 0 0 63.7%;
            height: 100%;
            position: relative;

            @media (min-width: 1201px) {
                @include adaptive-value-laptop("padding-top", 110, 25);
                @include adaptive-value-laptop("padding-bottom", 100, 25);
                @include adaptive-value-laptop("padding-left", 74, 25);
            }

            @media (max-width: 1200px) {
                padding-left: 15px;
                padding-top: 50px;
                padding-bottom: 15px;
                padding-right: 15px;
            }

            @media (max-width: 992px) {
                flex: none;
                padding-top: 75px;
                padding-bottom: 50px;
            }

            transition: all 0.3s ease 0s;

            &:before {
                position: absolute;
                content: "";
                width: 161px;
                height: 161px;
                right: 260px;
                top: -80px;
                background: #efa345;
                border-radius: 100%;
                z-index: -1;
                @media (max-width: 992px) {
                    right: 150px;
                }
            }

            &:after {
                position: absolute;
                content: "";
                width: 312px;
                height: 312px;
                background: #efa345;
                right: -88px;
                top: -30%;
                border-radius: 100%;
                z-index: -1;
                @media (max-width: 992px) {
                    height: 200px;
                    width: 200px;
                }
            }
            h1,
            h2 {
                font-style: normal;
                font-weight: 500;
                color: #ffffff;
                position: relative;
                display: flex;
                align-items: center;
                line-height: 1.2;

                img,
                svg {
                    margin-right: 24px;

                    @media (max-width: 768px) {
                        margin-right: 14px;
                        width: 40px;
                    }
                }

                @include adaptive-value-laptop("font-size", 41, 26);
                @include adaptive-value("margin-bottom", 38, 15, 1);

                @media (max-width: 1200px) {
                    margin-bottom: 15px;
                    font-size: 26px;
                }

                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }

            p {
                max-width: 580px;
                width: 100%;
                padding-left: 23px;
                border-left: 2px solid rgba(255, 255, 255, 0.5);
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.18;
                color: #ffffff;
                padding-right: 10px;

                @media (max-width: 992px) {
                    padding-left: 10px;
                    padding-right: 0;
                }
            }
        }

        // .page__top-right

        &-right {
            background: #fff0db;
            flex: auto;
            position: relative;
            height: 100%;

            @media (min-width: 1201px) {
                @include adaptive-value-laptop("padding-top", 110, 75);
                @include adaptive-value-laptop("padding-bottom", 100, 25);
                @include adaptive-value-laptop("padding-left", 74, 25);
            }

            @media (max-width: 1200px) {
                padding-left: 15px;
                padding-top: 50px;
                padding-bottom: 15px;
                padding-right: 15px;
            }

            @media (max-width: 992px) {
                flex: none;
                padding-bottom: 50px;
            }

            &:before {
                position: absolute;
                content: "";
                right: 0;
                top: 0;
                width: 259px;
                background-image: url("@img/logos/geo.svg");
                background-repeat: no-repeat;
                background-position: right;
                z-index: -1;
                background-size: contain;

                @include adaptive-value-laptop("height", 324, 270);

                @media (max-width: 992px) {
                    background-size: 150px 150px;
                    height: 160px !important;
                    width: 122px;
                    background-position: 15px -15px;
                }
            }

            h1,
            h2 {
                font-style: normal;
                font-weight: 500;
                position: relative;
                display: flex;
                align-items: center;
                color: #21170a;
                line-height: 1.2;

                img,
                svg {
                    margin-right: 24px;

                    @media (max-width: 768px) {
                        margin-right: 14px;
                        width: 40px;
                    }
                }

                @media (min-width: 1201px) {
                    @include adaptive-value-laptop("font-size", 41, 26);
                    @include adaptive-value("margin-bottom", 38, 15, 1);
                }

                @media (max-width: 1200px) {
                    font-size: 26px;
                    margin-bottom: 15px;
                }

                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }

            p {
                max-width: 414px;
                width: 100%;
                padding-left: 23px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.18;
                border-left: 2px solid #f3b846;
                color: #a59679;

                @media (max-width: 992px) {
                    padding-left: 10px;
                }
            }
        }
    }
}

.mailinglists {
    // .mailinglists__body

    &__body {
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    // .mailinglists__grid

    &__grid {
        flex: 0 0 calc(63.7% - 224px);

        @media (max-width: 768px) {
            flex: none;
            width: 100%;
        }

        // .mailinglists__grid-items

        &-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 197px;

            @media (max-width: 1300px) {
                grid-template-columns: 1fr;
                grid-auto-rows: 170px;
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 150px;
                width: 100%;
            }

            @media (max-width: 425px) {
                grid-template-columns: 1fr;
                grid-auto-rows: 130px;
            }
        }
    }

    // .mailinglists__item

    &__item {
        padding: 0 22px 22px 22px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        background-color: #fff0db;
        position: relative;

        @media (max-width: 1024px) {
            min-width: 350px;
            width: 100%;
            padding: 0 15px 15px;
        }

        @media (max-width: 768px) {
            min-width: 100%;
        }

        @media (max-width: 425px) {
            align-items: center;
        }

        &:before {
            position: absolute;
            content: "";
            top: 16px;
            right: 22px;
            width: 58px;
            height: 58px;
            background-repeat: no-repeat;
            background-position: right;
            background-size: 58px 58px;

            @media (max-width: 768px) {
                background-size: 40px 40px;
            }
        }

        &:nth-child(1) {
            @media (max-width: 1024px) {
                background: #fffaf0;
            }

            @media (max-width: 425px) {
                background: #fffaf0;
            }

            &:before {
                background-image: url("@img/logos/mang-one.png");
            }
        }

        &:nth-child(2) {
            background: #fffaf0;

            @media (max-width: 1024px) {
                background: #fff0db;
            }

            &:before {
                background-image: url("@img/logos/mailinlist-two.png");
            }
        }

        &:nth-child(3) {
            background: #fffaf0;

            &:before {
                background-image: url("@img/logos/mang-three.png");
            }

            @media (max-width: 768px) {
                background: #fff0db;
            }

            @media (max-width: 425px) {
                background: #fffaf0;
            }
        }

        &:nth-child(4) {
            &:before {
                background-image: url("@img/logos/mailinlist-four.png");
            }

            @media (max-width: 1024px) {
                background: #fff0db;
            }

            @media (max-width: 768px) {
                background: #fffaf0;
            }

            @media (max-width: 425px) {
                background: #fff0db;
            }
        }

        &-info {
            label {
                margin-bottom: 9px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 1.18;
                color: #a59679;
            }

            p {
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 1.2;
                color: #21170a;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    // .mailinglists__form

    &__form {
        padding: 35px 33px 32px 23px;
        position: relative;

        @media (max-width: 1024px) {
            padding: 35px 15px 32px 15px;
        }

        &:before {
            position: absolute;
            content: "";
            right: -43px;
            top: -23px;
            width: 259px;
            height: 324px;
            background-image: url("@img/logos/whatsapp.svg");
            background-repeat: no-repeat;
            background-position: right;
            z-index: -1;

            @media (max-width: 1300px) {
                right: 0;
            }

            @media (max-width: 768px) {
                background-size: contain;
                width: 150px;
                height: 200px;
                top: 0;
            }
        }

        h3 {
            margin-bottom: 6px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.2;
            color: #21170a;
        }

        label {
            margin-bottom: 49px;
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.18;
            display: block;
            color: #949494;
        }

        &-input {
            margin-bottom: 48px;
            border-bottom: 1px solid #21170a;
            padding-bottom: 8px;
            max-width: 525px;
            width: 100%;

            &::placeholder {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.18;
                color: #949494;
            }
        }

        // .mailinglists__form-submit

        &-submit {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            input {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.18;
                color: #ffffff;
                margin-right: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 147px;
                flex: 0 0 147px;
                height: 39px;

                @media (max-width: 768px) {
                    margin-right: 15px;
                }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.15;
                color: #949494;
            }
        }
    }

    // .mailinglists__image

    &__image {
        position: relative;
        height: 100%;
        width: 224px;

        @media (max-width: 1024px) {
            display: none;
        }

        img {
            display: block;
            height: 100%;
        }

        span {
            position: absolute;
            height: fit-content;
            bottom: 18px;
            left: 50%;
            transform: translate(-50%, 0);
            font-style: normal;
            font-weight: 300;
            font-size: 41px;
            line-height: 1.18;
            color: #ffffff;
        }
    }

    &__bigimage {
        display: none;
        height: 150px;
        width: 100%;

        @media (max-width: 1024px) {
            display: block;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        span {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // .mailinglists__news

    &__news {
        background-color: #ffffff;
        height: 100%;
        padding-right: 10px;

        @media (max-width: 768px) {
            max-width: 100%;
            padding-right: 0;
        }

        // .mailinglists__news-body

        &-body {
            @media (min-width: 769px) {
                max-height: 679px;
                overflow-y: auto;
            }

            @media (max-width: 768px) {
                padding: 20px 0;
            }

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
            }

            &::-webkit-scrollbar-thumb {
                background: linear-gradient(81.52deg, #f5c047 0%, #df4b41 100%);
            }
        }

        // .mailinglists__news-item

        &-item {
            display: block;
            background-color: #ffffff;

            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #f0f0f0;
                }
            }

            @media (min-width: 769px) {
                border-top: 1px solid rgba(0, 0, 0, 0.02);
                border-bottom: 1px solid rgba(0, 0, 0, 0.02);
            }

            @media (max-width: 768px) {
                height: calc(50% - 30px);
            }

            p {
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 1.2;
                color: #949494;
            }
        }

        // .mailinglists__news-content

        &-content {
            padding: 25px 20px 21px 26px;
            display: block;

            @media (max-width: 1024px) {
                padding: 15px;
            }

            h3 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                color: #21170a;
            }

            span {
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 1.2;
                color: #939393;
                margin-left: 10px;
            }

            div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
            }
        }

        // .mailinglists__news-controls

        &-controls {
            display: none;
            margin-top: 25px;

            @media (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        // .mailinglists__news-prev

        &-prev {
            margin-right: 40px;
            img {
                transform: rotate(180deg);
            }
        }

        // .mailinglists__news-next

        &-next {
        }
    }

    // .mailinglists__support

    &__support {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        color: #ffffff;
        padding: 23px 017px 24px;
    }
}

.links {
    // .links__body

    &__body {
    }

    // .links__row

    &__row {
        .swiper-wrapper {
            & > :nth-child(2n + 1) {
                background: #f0f0f0;
            }
            & > :nth-child(2n) {
                background: #ffffff;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 290px;
            height: 69px;

            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    background: linear-gradient(81.52deg, #f5c047 0%, #df4b41 100%) !important;
                }
            }

            @media (max-width: 425px) {
                width: 100%;
            }

            img {
                margin-right: 9px;
                width: 37px;
                height: 37px;
            }
            span {
                white-space: nowrap;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.2;
                color: #1e1f28;
            }
        }
    }

    // .links__image

    &__image {
        position: relative;
        height: 364px;
        display: flex;
        align-items: center;
        padding: 40px;

        @media (max-width: 1024px) {
            padding: 15px;
        }

        @media (max-width: 768px) {
            height: auto;
        }

        // .links__image-content

        &-content {
            position: relative;
            z-index: 1;
            width: 100%;
            max-width: 1010px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 32px 32px 32px 43px;

            @media (max-width: 1024px) {
                padding: 15px;
            }

            @media (max-width: 768px) {
                flex-direction: column-reverse;
            }

            // .links__image-content-left

            &-left {
                margin-right: 20px;

                @media (max-width: 768px) {
                    margin-right: 0;
                    margin-top: 25px;
                }

                h4 {
                    display: block;
                    margin-bottom: 8px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 41px;
                    line-height: 1.2;

                    @media (max-width: 1200px) {
                        font-size: 31px;
                    }

                    @media (max-width: 1024px) {
                        font-size: 28px;
                    }

                    @media (max-width: 768px) {
                        font-size: 24px;
                    }
                }

                a {
                    width: 100%;
                    max-width: 331px;
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.2;
                    color: #ffffff;

                    @media (max-width: 1024) {
                        font-size: 18px;
                    }

                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                }
            }

            // .links__image-content-right

            &-right {
                max-width: 55.615%;

                @media (max-width: 1024px) {
                    max-width: 60%;
                }

                @media (max-width: 768px) {
                    max-width: none;
                }

                p {
                    padding: 29px 21px 22px 32px;

                    @media (max-width: 1024px) {
                        padding: 15px;
                    }

                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.2;
                    color: #1e1f28;
                    width: 100%;
                    background-color: #f0f0f0;
                }
            }
        }

        img {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }

    // .links__bottom

    &__bottom {
        display: flex;
        justify-content: flex-start;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }

        // .links__bottom-info

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 0 0 37.3%;
            padding: 15px 15px 15px 34px;
            min-height: 100%;

            @media (max-width: 425px) {
                flex-direction: column;
                justify-content: flex-start;
            }

            @media (max-width: 1024px) {
                padding: 15px;
            }

            div {
                margin-left: 34px;

                @media (max-width: 425px) {
                    margin-left: 0;
                    margin-top: 25px;
                }

                & > :not(:last-child) {
                    margin-bottom: 20px;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.2;
                    color: #ffffff;
                }
            }
        }

        ol {
            display: grid;
            grid-template-columns: repeat(var(--icon-per-column), 1fr);
            grid-auto-rows: 107px;
            flex: 1 1 auto;

            @media (max-width: 992px) {
                grid-auto-rows: auto;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                @media (max-width: 992px) {
                    height: auto;
                    padding: 10px;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}
